/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  font-family: 'Yusei Magic', sans-serif;
  background-color: #fcd2d2;

}

/* Change header text to imported font */
h2 {
  font-size: 50px;
  font-family: 'Yusei Magic', sans-serif;
  color: white;
  background-color: #f78a8a;
  overflow: visible !important;

  margin-top: 1px;
  
}


/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}


div.dataTables_scroll {height: auto;
  
  
}
div.dataTables_scrollBody {
  overflow: visible !important;
  height: auto;
  
}
